* {
	box-sizing: border-box;
}

.row {
	max-width: 1000px;
	padding: 0, 20px;
	margin: 0 auto;
}

.row::before,
.row::after {
	display: table;
	content: '';
}

.row::after {
	clear: both;
}

.col-3, .col-4, .col-6, .col-12 {
	float:left;
	padding-left: 1.04166666%;
  	padding-right: 1.04166666%;
}

.col-3, .col-4, col-6, .col-12 {
	width: 100%;
}

@media only screen and (min-width: 320px) {
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.33%;
	}
	.col-6 {
		width: 50%;
	}
	.col-12 {
		width: 100%;
	}
}

/*mobiles in landscape mode*/
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (orientation: landscape){
	.start-page {
		top:0;
		botom:0;
		right:0;
		left:0;
		transform: translate(0, 0);
		font-size: 0.80em;
		height: 100%;
	}
	.instruction {
		vertical-align: middle;
	}

	.overlay {
		width: 40%;
		font-size: .9em;
	}
}

/*mobiles in portrait mode*/
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (orientation: portrait){
	.start-page {
		top:0;
		botom:0;
		right:0;
		left:0;
		transform: translate(0, 0);
		font-size: 0.85em;
		height: 100%;
	}
	.user-info {
		vertical-align: middle;
	}
	.overlay {
		left:0;
		right:0;
		top: 0;
		height: 30%;
		width: 100%;
		font-size: .9em;
	}
}

/*mobiles (larger) in landscape mode*/
@media only screen
and (min-device-width: 481px)
and (max-device-width: 767px)
and (orientation: landscape){
	.start-page {
		top:0;
		botom:0;
		right:0;
		left:0;
		transform: translate(0, 0);
		font-size: 0.9em;
		height: 100%;
	}
	.instruction {
		position: relative;
		vertical-align: middle;
		margin: 0 auto;
	}

	.overlay {
		width: 40%;
		font-size: .9em;
	}
}

/*mobiles (larger) in portrait mode*/
@media only screen
and (min-device-width: 481px)
and (max-device-width: 767px)
and (orientation: portrait){
	.start-page {
		top:0;
		botom:0;
		right:0;
		left:0;
		transform: translate(0, 0);
		font-size: 1.1em;
		height: 100%;
	}
	.instruction {
		position: relative;
		vertical-align: middle;
		margin: 0 auto;
		font-size: 1.1em;
	}

	.overlay {
		width: 40%;
		font-size: .9em;
	}
}					

/*tablets in landscape mode*/
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape){
	.start-page {
		top:0;
		botom:0;
		right:0;
		left:0;
		transform: translate(0, 0);
		height: 100%;
	}
	.instruction {
		position: relative;
		vertical-align: middle;
		margin: 0 auto;
		font-size: 1.2em;
	}

	.overlay {
		width: 40%;
		font-size: .9em;
	}
}
/*tablets in portrait mode*/
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape){
	.start-page {
		top:0;
		botom:0;
		right:0;
		left:0;
		transform: translate(0, 0);
		height: 100%;
	}
	.instruction {
		position: relative;
		vertical-align: middle;
		margin: 0 auto;
		font-size: 1.5em;
	}
	.overlay {
		width: 35%;
		font-size: 1.2em;
	}
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  .start-page {
  	position: fixed;
  	top: 50%;
  	left: 50%;
  transform: translate(-50%, -50%);
  }
}




